/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --head-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--head-font-family);
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h2 {
  font-size: 64px;
}



.navbar .navbar-nav .nav-link {
  color: black;
  opacity: 0.7;
  font-size: 1.1em;
}


.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active{
  color: var(--branding-color);
  opacity: 1;
}

.logo,
.logo-small {
  max-height: 42px;
}
.logo-small {
  border-radius: 50%;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: normal;
  color: #272142;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  background-color: white;
  color: var(--branding-color);
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color);
}

.project-description {
  margin: auto;
  padding-left: 60px;
  text-align: justify;
}

/*about page*/

.content-container {
  padding: 160px 20px;
}

.content {
  padding: 30px;
}
.content h1 {
  font-size: 63px;
  line-height: 1;
}
.content p {
  font-size: 16px;
  line-height: 2;
}
.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
}
.content h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 0;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.contact-link {
  text-decoration: none;
  color: var(--branding-color);
}
.contact-link:hover {
  text-decoration: underline;
  color: var(--branding-color);
}

.content p {
  font-size: 14px;
}

@media (max-width: 900px) {
  .project-description {
    text-align: center;
    padding: 0;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
}
